.blog {
  margin-bottom: 100px;

  &-title {
    font-weight: 300;
    font-size: 32px;
    text-transform: uppercase;
  }
  &-item {
    &__title {
      font-size: 20px;
      font-weight: 400;
      text-transform: uppercase;
      margin-bottom: 10px;
      min-height: 46px;
    }

    &__text {
      margin-bottom: 10px;
    }

    &__link {
      cursor: pointer;
      color: #363636;
      font-size: 12px;
    }
    &__img {
      margin-bottom: 20px;
    }
  }
  &-btn {
    display: flex;
    position: absolute;
    cursor: pointer;
    top: 25px;
    left: 50%;
  }
}
.swiper-wrapper {
  position: relative;
  padding-top: 80px;
  margin-bottom: 100px;
}
.swiper-button-prev {
  transform: translate(-41px);
}
.swiper-button-next {
  transform: translateX(8px);
}
.swiper-button-prev img {
  transform: rotate(180deg);
}
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: "";
}
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: "";
}

.blog-quote {
  margin-top: 82px;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
  &__box {
    flex-basis: 435px;
  }
  & img {
    width: 100%;
    padding-left: 15px;
  }
  & span {
    display: block;
    color: #9f6b08;
    margin-bottom: 3px;
    font-size: 12px;
  }
}
.blockquote {
  margin-bottom: 30px;

  &-name {
    font-weight: 700;
    margin-bottom: 10px;
  }
  &-text {
    font-size: 14px;
    font-style: italic;
    color: #040404;
  }
}
@media (max-width: 660px) {
  .blog-quote {
    flex-direction: column;
    // & img {
    //   width: 60%;
    //   height: 70%;
    // }
  }
}
