.evo {
  &-black {
    color: #fff;
    background-color: #363636;
    padding: 100px 0 50px;
    &__inner {
      position: relative;
      &::before {
        content: "";
        position: absolute;
        background-image: url(../images/decor1.svg);
        width: 185px;
        height: 213px;
        top: 175px;
        left: -140px;
      }
      &::after {
        content: "";
        position: absolute;
        background-image: url(../images/decor2.png);
        width: 498px;
        height: 572px;
        top: 300px;
        left: -49px;
      }
    }
    &__info {
      display: flex;
      justify-content: space-between;
    }
    &__infobox {
      flex-basis: 437px;
    }
    &__title {
      text-transform: uppercase;
      font-weight: 300;
      font-size: 32px;
      padding-right: 30px;
    }

    &__text {
      font-style: 14px;

      margin-bottom: 30px;
    }

    &__img {
      display: block;
      margin: 170px auto 60px;
      position: relative;
      z-index: 1;
    }
    &__descr-list {
      display: flex;
      justify-content: center;
      column-gap: 63px;
      & dd {
        text-transform: uppercase;
      }
    }
  }

  &-white {
    &__inner {
      position: relative;
      padding-top: 125px;
      &::before {
        content: "";
        position: absolute;
        background-image: url(../images/decor3.png);
        width: 274px;
        height: 257px;
        top: -40px;
        left: 360px;
      }
      &::after {
        content: "";
        position: absolute;
        background-image: url(../images/decor4.png);
        width: 324px;
        height: 311px;
        top: 115px;
        left: 600px;
      }
    }
    &__text {
      margin-bottom: 30px;

      &:first-child {
        max-width: 285px;
      }
      &:nth-child(2) {
        max-width: 437px;
      }
      &:nth-child(3) {
        max-width: 590px;
      }
    }

    &__video {
      margin-top: 100px;
      background-image: url(../images/evoVideo.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 258px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    &__video-link span {
      display: block;
      color: #fff;
    }
  }
}
@media (max-width: 768px) {
  .evo {
    &-black {
      &__img {
        max-width: 100vw;
      }
      &__inner::after {
        content: "";
        max-width: 100vw;

        top: 300px;
        left: -49px;
      }
      &__descr-list {
        display: flex;
        justify-content: center;
        column-gap: 20px;
      }
    }
    &-white {
      &__inner::after {
        content: "";
        display: none;
      }
      &__inner::before {
        content: "";

        display: none;
      }
    }
  }
}
@media (max-width: 530px) {
  .evo-black__inner::after {
    content: "";

    top: 350px;
    left: -49px;
  }
  .evo-black__descr-list {
    display: none;
  }
}
@media (max-width: 400px) {
  .evo-black__inner::after {
    top: 600px;
    left: -49px;
  }
}
