@font-face {
  font-family: "Impact", sans-serif;
  src: url(../fonts/Impact/Impact.woff);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: #040404;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  font-family: "Roboto Condensed", sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
  list-style-type: none;
}
li {
  list-style-type: none;
}
.container-big {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}
.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 10px;
}
@import "_header";
@import "_promoSection";
